# Database URL (SQLite default or PostgreSQL connection string e.g., postgresql://user:pass@host:5432/resqlink)
DATABASE_URL="file:./dev.db"

# JWT Auth Secret for cookie and bearer tokens
JWT_SECRET="replace-with-a-secure-random-32-char-string"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
